.header__wrapper {
  position: relative;
  z-index: 21;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 120px;
  height: 120px;
}

.header__logo img {
  width: 100%;
}

.header__number {
  margin-bottom: 7px;
  cursor: pointer;
  display: block;
}

.header__mail a,
.header__number a {
  font-size: 14px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

@media (any-hover:hover) {
  .header__mail a:hover,
  .header__number a:hover  {
    border-bottom: 1px solid white;
  }
}

.hero {
  background: url(./image/bg01.jpeg) center no-repeat;
  background-size: cover;
  min-height: 100vh;
  /* filter: brightness(0.4); */
  top: -120px;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #060606ba;
}

.hero__container {
  height: 100vh;
  position: relative;
}

.hero__wrapper {
  padding-top: 35vh;
  color: white;
  position: relative;
  z-index: 20;
  display: flex;
  justify-content: space-between;
}

.hero__column-content {}

.hero__offer {
  letter-spacing: 1px;
  font-weight: 500;
}

.hero__sub-offer {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 1.5px;
  color: rgba(255, 255, 255, 0.824);
}

.hero__btn {
  margin-top: 50px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 2px;
  font-size: 14px;
}

.hero__line-button {
  margin-top: 50px;
  display: block;
}

.hero__line-button-text {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 2px;
  font-size: 14px;
  transition: all 0.3s ease-out;
}

@media (any-hover:hover) {
  .hero__line-button-text:hover {
    background-color: rgb(201, 201, 0);
  }
}

.hero__column-socials {
  
}

.hero__socials-list li {
  margin-bottom: 10px;
  transition: all 0.3s ease-out;
}

@media (any-hover:hover) {
  .hero__socials-list li:hover {
    transform: scale(1.1);
  }
}

.social-icon {
  color: white;
  font-size: 22px;
}

.icon-instagram_icon {}

.icon-facebook_icon {}

.hero__advantages {
  position: absolute;
  bottom: 90px;
  right: 0;
  z-index: 20;
  color: white;
}

.advantages {
  display: flex;
}

.advantages__item {
  flex: 0 1 20%;
  font-size: 14px;
  letter-spacing: 1.5px;
  margin-left: 50px;
  padding: 9px 9px 25px 9px;
  border: 1px solid rgb(201, 201, 0);
  position: relative;
  box-shadow: 1px 1px 5px 1px white;
  font-family: 'Helvetica';
  font-weight: 500;
  line-height: 110%;
}

.icon-check_icon {
  position: absolute;
  bottom: 0;
  right: -20px;
  font-size: 40px;
}

.advantages__item:last-child {
  margin-right: 15px;
}

/* ===================typeOfJobs====================================================== */

.typeOfJobs {
  margin-bottom: 100px;
}

.typeOfJobs__container {}

.typeOfJobs__title {
  margin-bottom: 40px;
}

.typeOfJobs__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.typeOfJobs__row {}

.typeOfJobs__item {
  width: 49%;
  display: flex;
  justify-content: space-between;
  /* margin-left: auto; */
  margin-bottom: 4px;
}

.typeOfJobs__text {
  flex: 0 1 75%;
  padding: 7px 5px 7px 15px;
  border-radius: 5px 0px 0px 5px;
  position: relative;
  /* background-color: #f77c00; */
  background-color: #f7f700;
  font-weight: 500;
  letter-spacing: 0.6px;
  line-height: 110%;
  color: black;
  font-size: 14px;
}

.typeOfJobs__text::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0px;
  width: 5px;
  height: 100%;
  border-radius: 5px 0px 0px 5px;
  background-color: #f99d3f;
}

.typeOfJobs__price {
  flex: 0 1 25%;
  border-radius: 0 5px 5px 0;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f99d3f;
  color: rgb(0, 63, 0);
}


.typeOfJobs__buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.typeOfJobs__show-btn,
.typeOfJobs__close-btn {
  padding: 10px 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 20px;
  cursor: pointer;
  border: 1px solid var(--main-color);
  background: transparent;
  color: rgb(0, 63, 0);
  border-radius: 5px;
}

.typeOfJobs__close-btn {
  display: none;
}

/* ===============send-form======================================================= */

.send-form {}

.send-form__bg {
  background: url(./image/send-form.jpeg) center/cover no-repeat;
  position: relative;
}

.send-form__bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000090;
}

.send-form__body {
  position: relative;
  z-index: 10;
}

.send-form__card {
  padding: 80px 0;
}

.send-form__title {
  margin-bottom: 40px;
  color: white;
}

.send-form__sub-title {
  font-weight: 100;
  font-size: 26px;
  margin-bottom: 35px;
  color: white;
}

.send-form__form {
  width: 50%;
}

.send-form__form input {
  width: 100%;
  background: none;
  padding: 10px;
  font-size: 14px;
  border-bottom: 1px solid white;
  border-radius: unset;
  color: #ffffff;
  margin-bottom: 10px;
}

.send-form__form input::placeholder {
  color: #ffffff;
  font-size: 14px;
}

.send-form__name,
.send-form__number {
  width: 100%;
  background: transparent;
}

.send-form__number {}

.send-form__button {
  background-color: transparent;
  padding: 10px 0;
  width: 200px;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

@media (any-hover:hover) {
  .send-form__button:hover {
    background-color: rgb(201, 201, 0);
  }
}

/* ================gallery====================================================== */

.gallery {
  margin: 90px 0 60px 0;
  overflow-x: hidden;
}

.gallery__body {}

.gallery__title {
  margin-bottom: 40px;
}

.gallery-swiper {}

.swiper-container {}

.slider__arrows {}

.slider__arrow {}

.slider-arrow_prev {}

.icon-arrow_left_icon {}

.slider-arrow_next {}

.icon-arrow_right_icon {}

.gallery__wrapper {}

.swiper-wrapper {}

.gallery__slide {}

.swiper-slide {}

.gallery__image {
  text-align: center;
}

.gallery__image img {
  max-width: 100%;
  height: 500px;
  object-fit: cover;
}

.gallery-swiper .swiper-pagination-bullet {
  font-size: 20px;
  width: 12px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--main-color);
}


.slider__arrows {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}

.slider__arrow {
  background-color: transparent;
  font-size: 60px;
  transition: all 0.3s ease 0s;
  width: 80px;
  color: var(--main-color);
  cursor: pointer;
}


/* ===================question-answer=========================================================================== */

.question-answer {
  margin: 60px 0 60px 0;
}

.question-answer__body {}

.question-answer__title {
  margin-bottom: 40px;
}

.question-answer__list {}

.question-answer__item {
  transition: all 0.3s ease-out;
  margin-bottom: 20px;
  box-shadow: 1px 1px 5px 1px var(--main-color);
  cursor: pointer;
  padding: 25px 20px;
}


.question-answer__f-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-answer__question {
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.question-answer__arrow {
  width: 30px;
  transition: all 0.3s ease-out;
  transform: rotate(90deg);
}

.question-answer__answer {
  transition: all 0.3s ease-out;
  width: 95%;
  line-height: 115%;
  font-weight: 100;
  letter-spacing: 1px;
}

/* =============================================================== */

.footer {
  background-color: black;
  color: white;
  padding: 20px 0 40px 0;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__logo {
  
  width: 80px;
  height: 80px;
}
.footer__logo img{
  width: 100%;
  height: 100%;
}
.footer__title-contacts {
  margin-bottom: 10px;
  letter-spacing: 0.7px;
}
.footer__number, 
.footer__mail {
  margin-bottom: 10px;
}
.footer__number a,
.footer__mail a{
  color: white;
}

.footer__mail {}

.footer__title {
}
.footer__middle {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 18px;
}

.footer__bottom {
  text-align: center;
}
.footer__socials-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.social-icon {
  text-align: center;
}
.icon-instagram_icon {}
.icon-facebook_icon {}
.cop span{
  font-weight: 500;
}
.cop {
  font-weight: 100;
  font-size: 14px;
}